/* General Styles */
body {
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #F5F5DC; /* Soft Beige background */
    color: #333333; /* Dark Gray text */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    background-color: #2E8B57; /* Dark Green */
    color: #fff;
    padding: 1rem;
    position: relative; /* To help with absolute positioning of the logo */
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 2rem;
    color: #ffffff; /* White text color */
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    font-size: 40px;
}

nav {
    margin-left: auto; /* Center navigation menu */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: #ffffff; /* White text color */
    text-decoration: none;
}

main {
    flex-grow: 1;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    font-family: 'Merriweather', serif;
    color: #2E8B57; /* Dark Green for headings */
}

.about {
    margin-bottom: 2rem; /* Space above the services section */
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.service-item {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.service-item img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 1rem;
}

footer {
    background-color: #2E8B57; /* Dark Green background */
    color: #ffffff; /* White text */
    text-align: center;
    padding: 1rem;
    margin-top: auto;
}

footer p {
    margin: 0;
}

footer a {
    color: #FFD700; /* Gold text for links in footer */
    text-decoration: underline;
}

.logo {
    height: 75px; /* Adjust based on your logo size */
    margin-right: 1rem; /* Space between logo and heading */
}


